In [1]:
import pandas as pd



# Laad het CSV bestand
csv_file = "batch_results.csv"
df = pd.read_csv(csv_file)
df

,sim_id,students,coffee_machines,restrict_breaks,avg_wait_time,missed_coffee,no_attempts,total_attempts
0,1,30,2,True,112.766667,0,0,90
1,2,30,2,True,123.500000,0,0,90
2,3,30,2,True,140.466667,0,0,89
3,4,30,2,True,112.733333,0,0,90
4,5,30,2,True,117.233333,0,0,89
...,...,...,...,...,...,...,...,...
235,236,60,5,True,58.516667,0,0,179
236,237,60,5,True,70.400000,0,0,179
237,238,60,5,True,74.883333,0,0,179
238,239,60,5,True,70.566667,0,0,179
239,240,60,5,True,76.083333,0,0,177